body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 0.875rem;
    /* Setting the default font size */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'IBM Plex Sans', sans-serif;
}

.table thead th {
    background-color: #95312F;
    /* Dark background color */
    color: white;
    /* White text color */
}

.table th,
.table td {
    font-size: 0.875rem;
    /* Ensure table text is also the correct size */
}

.disappear {
    display: none;
}
.card-body .table-container {
    max-height: 800px;
    overflow-y: auto;
    position: relative;
    border: 1px solid #ddd;
}

.sticky-header th {
    position: sticky;
    top: 0;
    background-color: #f8f9fa;
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


/* Modal styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
  }
  
  button {
    padding: 10px;
    margin-top: 10px;
  }
  
