.goBtn {
    top: -20px;
}

.btn-grp {
    margin-left: 70px;
}

.tableBody {
    margin-top: 2em;
}
.tableBody {
  white-space: nowrap;
}
.tableBody thead th,
.tableBody tbody td {
  text-align: left;
  vertical-align: middle;
}